@import "Variables";
@import "Normalize";

@import "Vendor/Lightgallery/lightgallery";
@import "Vendor/Aos/aos";
@import "Vendor/calendar";
@import "Vendor/slider";

@import "Layout/Header";
@import "Layout/Footer";
@import "Layout/Menu";
@import "Layout/Fonts";
@import "Layout/Burger";
@import "Layout/Table";
@import "Layout/Form";
@import "Layout/Cookiebanner";
//@import "Layout/CookieBannerIubenda";
@import "Layout/Newsflash";
@import "Layout/Rotate";

@import "Assets/Sitemap";
@import "Assets/Div";
@import "Assets/Text";
@import "Assets/Images";
@import "Assets/Imageparallax";
@import "Assets/Imagesmouseover";
@import "Assets/Imagetext";
@import "Assets/Coverslider";
@import "Assets/Accordiontabs";
@import "Assets/Buttons";
@import "Assets/Album";
@import "Assets/Albumscategorized";
@import "Assets/Gallerys";
@import "Assets/Newslist";
@import "Assets/Teaserlist";
@import "Assets/Videocover";
@import "Assets/VideoYoutube";
@import "Assets/VideoHtml5";

@import "Assets/Cleverreachteaser";
@import "Assets/Cleverreachform";
@import "Assets/Columns";
@import "Assets/Article";

nav.path {
  @extend .frame-2-2;
  display: none;

  @media #{$smd} {
    display: block;
    text-transform: uppercase;
    text-align: right;
    a {
      display: inline-block;
      padding: px-to-rem(10);

      &.last {
        text-decoration: underline;
        padding-right: 0;
      }
    }
  }
}

section.content {
  @include clearfix-padding;
  hyphens: auto;
}

section.related {
  @include clearfix-padding;
  hyphens: auto;
}

.wrap-nested {
  @include grid(22);
  @media #{$sm} {
    @include grid(8);
  }
}

.nested {
  background: red;
  grid-column: 2/-2;
  @media #{$sm} {
    grid-column: 3/7;
  }

}