@import "Variables";
@import "Normalize";

@import "Vendor/Lightgallery/lightgallery";
@import "Vendor/Aos/aos";
@import "Vendor/calendar";
@import "Vendor/slider";

@import "Layout/Header";
@import "Layout/Footer";
@import "Layout/Menu";
@import "Layout/Fonts";
@import "Layout/Burger";
@import "Layout/Table";
@import "Layout/Form";
@import "Layout/Cookiebanner";
@import "Layout/Newsflash";
@import "Layout/Rotate";

@import "Assets/Imagetext";

nav.path {
  @extend .frame-extra-large;
  display: none;

  @media #{$smd} {
    display: block;
    text-transform: uppercase;
    text-align: right;
    a {
      display: inline-block;
      padding: px-to-rem(10);

      &.last {
        text-decoration: underline;
        padding-right: 0;
      }
    }
  }
}

section.content {
  background-color: gray;
  @include clearfix-padding;
  hyphens: auto;
}

section.related{
  @include clearfix-padding;
  hyphens: auto;
}