.accordiontabs {

  &.tabs-visible {
    > .tabs {
      display: block;
    }

    > .accordion .head {
      display: none;
    }
  }


  > .tabs {
    display: none;

    .head {
      display: inline-block;
      cursor: pointer;
      position: relative;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-right: 40px;

      &:after {
        display: block;
        content: url(/typo3conf/ext/theme/Resources/Public/Svg/arrow.svg);
        position: absolute;
        top: 50%;
        transition: all 400ms;
        right: 9px;
        transform: translateY(-50%);
      }

      &.act {
        &:after {
          transform: translateY(-50%) rotate(-180deg);
        }
      }

      > .arrow {
        position: absolute;
        top: 50%;
        transition: all 400ms;
        width: 10px;
        right: 15px;
        transform: translateY(-50%) rotate(90deg);

      }
    }
  }

  > .accordion {

    .head {
      cursor: pointer;
      position: relative;
      padding-top: 10px;
      padding-bottom: 10px;

      &:after {
        display: block;
        content: url(/typo3conf/ext/theme/Resources/Public/Svg/arrow.svg);
        position: absolute;
        top: 50%;
        transition: all 400ms;
        right: 9px;
        transform: translateY(-50%);
      }

      &.act {
        &:after {
          transform: translateY(-50%) rotate(-180deg);
        }
      }


    }

    .content {
      transition: max-height 600ms;
      max-height: 0;
      overflow: hidden;

      > div {
        @include clearfix-padding-small;

        > *:first-child {
          margin-top: 0;
        }

        table {
          width: 100%;

          td {
            border-bottom: $c-default solid 1px;
            padding: px-to-rem(10) 0;
          }

          td:first-child {
            font-weight: 600;
          }

          td:last-child {
            text-align: right;
          }
        }

        > *:last-child {
          margin-bottom: 0;
        }

        [class*='frame-'] {
          padding-left: 0 !important;
          padding-right: 0 !important;
        }
      }
    }


  }


}