.frame-type-mask_block1 {
  color: white;
  position: relative;

  > div {
    display: flex;
    justify-content: space-between;

    > picture:first-child {
      width: 27%;
      align-self: flex-start;
      @media #{$lg} {
        width: 30%;
      }

    }

    > div {
      position: absolute;
      width: 56%;
      left: 50%;
      bottom: 30px;
      transform: translateX(-50%);
      @media #{$lg} {
        width: 49%;
      }

      p:last-child a {
        @include button;
        margin-top: 50px;
      }
    }

    > picture:last-child {
      width: 63%;
      align-self: flex-end;
      margin-top: 110px;
      @media #{$lg} {
        width: 61%;
        margin-top: 216px;
      }


    }
  }
}

body.bl1 .frame-type-mask_block3 + .frame-type-mask_block1 {
  background: $c-F6F4F2;
  padding-top: $frame-margin-y;
  @media #{$sm} {
    padding-top: $frame-margin-y-sm;
  }
  @media #{$md} {
    padding-top: $frame-margin-y-md;
  }
}