.frame-type-mask_columns {

  > div {
    > * {
      padding: 0;
      width: 100%;
      margin-left: 0;
      margin-right: 0;

      @media #{$sm} {
        padding: 0;
        width: 100%;
        max-width: 100%;
      }

      &:first-child {
        @media #{$sm} {
          margin-top: 0;
        }
      }
      &:last-child {
        @media #{$sm} {
          margin-bottom: 0;
        }
      }
    }
  }

  &.col-50-50 {
    @include grid(12,12);
  }


}