.frame-type-mask_gallerys {
  @extend .frame-4-4;
  overflow: hidden;
  > div{
    @include grid(2);
  }
}

.gallery {
  cursor: pointer;
  .img {
    position: relative;
    &:hover .over{
      opacity: 1;
    }
    .over {
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.4);
      opacity: 0;
      transition: opacity 400ms;
      span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
      }
    }
  }

  .title {
    font-size: 16px;
    margin-bottom: 8px;
    @media #{$sm} {
      font-size: 20px;
    }
  }
  .nr {
    text-align: right;
    font-size: 15px;
  }
}
