.frame-type-mask_imagetext {
  overflow: hidden;

  /* swap */
  &.frame-layout-3 > div * {
    @media #{$sm} {
      &:nth-child(1) {
        order: 2;
      }
      &:nth-child(1) {
        order: 1;
      }
    }
  }

  > div {
    @include grid(2);
    align-items: center;
  }
}