.frame-type-mask_imagemouseover {
  > div {
    a {
      display: inline-block;
      height: 70px;
      width: auto;
      margin: 0 10px;
      cursor: pointer;
      transition: opacity 300ms;
      position: relative;

      &:hover {
        img:first-child {
          opacity: 0;
        }

        img:last-child {
          opacity: 1;
        }
      }

      > img {
        height: 100%;
        width: auto;
        transition: opacity 400ms;

        &:first-child {
          position: absolute;
        }

        &:last-child {
          opacity: 0;
        }
      }
    }
  }
}
