.frame-type-mask_imagetext {
  overflow: hidden;

  > div {
    @include grid(8,8,8);
    justify-content: space-between;
    align-items: center;

    &.swap > * {
      @media #{$sm} {
        &:nth-child(1) {
          order: 2;
          margin-right: 0;
        }
        &:nth-child(1) {
          order: 1;
          margin-left: #{$gutter};
        }
      }
    }
  }
}