.frame-type-mask_images {

  &.frame-layout-1 {
    text-align: center;

    a {
      display: inline-block;
    }
  }

  img {
    opacity: 0;
    transition: opacity 800ms;

    &.lazyloaded {
      opacity: 1;
    }
  }

  .cover {
    background-size: cover;
    background-position: center;
  }

  .slider {
    > div > div {

      @media #{$xs} {
        margin-left: -10px;
        margin-right: -10px;
      }

      > div {
        width: 100%;
        @media #{$xs} {
          width: 50%;
          padding: 0 10px;
        }
        @media #{$sm} {
          width: 33.333%;
        }

      }
    }

    nav.arrows {
      img {
        width: 20px;
        opacity: 1;
      }
    }

    nav.dots {
      white-space: nowrap;
      line-height: 0;

      > div {
        display: inline-block;
        width: 10px;
        height: 10px;
        background: black;
        margin-right: 5px;

        &.act {
          background: $c-hover;
        }
      }
    }


  }

  .slider.coverslider {
    > div > div {
      > div {
        width: 100% !important;

        &.nextAct > * {
          animation-name: fadeIn;
          animation-fill-mode: forwards;
        }
      }
    }
  }

}