.frame-type-menu_sitemap_pages {
  > ul {
    @media #{$sm} {
      columns: 2;
    }

    > li {
      break-inside: avoid;
        page-break-inside: avoid;
      a{
        text-decoration: none;
      }
      ul{

      }
    }
  }


}
