.frame-type-mask_socialwall {
  position: relative;
  overflow: hidden;

  .feed-el {
    padding: 10px;
    box-sizing: border-box;
    position: relative;

    a.img {
      display: block;
      padding-bottom: 100%;
      overflow: hidden;
      height: 0;
      background-size: cover;
    }
  }
}